<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixelo Newsletter</title>
</head>

<body>
    <p>Hey, {{ greeting_name }},</p>
    <br>
    {{ body | safe }}
    <p>Until next time,</p>
    <div>Mixelo Team</div>
    <div>Guillaume, Juan & Yalit</div>
    <br>
    <div style="color: gray;">
        <div>-Mixelo is a small team with big ideas, and we believe email is vital to communicating with our
            community.
        </div>
        <div>You can choose the kind of notification you'd like to receive from us and or unsubscribe here.</div>
        <p>© 2024 Mixelo | CH-1001 Lausanne, Switzerland</p>
    </div>
</body>

</html>