<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Someone is asking for help</title>
</head>

<body>
    <div>Hey,</div>
    <br>
    <p>Someone is asking for help!</p>
    <p>😃 User {{ user }} from the community has just commented in the story: <strong>{{ story }}</strong></p>
    <div style="padding-left: 10px; background-color: bisque;">
        <div>Comment:</div>
        <div>{{ comment }}</div>
    </div>

    <p>🏁 To see the story follow this link:
        <a href="https://www.mixelo.io/story/{{ story_slug }}"><strong>→ Story</strong></a>
    </p>

</body>

</html>