<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Recall Update</title>
</head>

<body>
    <p>Hey, {{ greeting_name }},</p>
    <br>
    <p>Hope you're doing well!</p>
    <p>😃 Here is the weekly “Recall” update. - You have {{ number_of_cards }} cards to consult on your recall board
        session!</p>
    <p>👍 To consult and practice the recalled cards follow this link: <a
            href="https://www.mixelo.io/recall-cards"><strong>Recall your Cards</strong></a></p>
    <p>The “recall card feature”, is the best way to improve your soft skills by rewatching the cards with the highest
        impact on you!</p>
    <p>We wish you a great experience on your personal growth and a pleasant moment with Mixelo Stories.</p>
    <div>Thank you for being a part of the Mixelo community.</div>
    If you enjoyed this email, do us a solid and forward it to a friend. We owe you one.
    <p>Until next week,</p>
    <div>Mixelo Team</div>
    <div>Guillaume, Juan & Yalit</div>
    <br>
    <div style="color: gray;">
        <div>-Mixelo is a small team with big ideas, and we believe email is vital to communicating with our community.
        </div>
        <div>You can choose the kind of notification you'd like to receive from us and or unsubscribe here.</div>
        <p>© 2024 Mixelo | CH-1001 Lausanne, Switzerland</p>
    </div>

</body>

</html>