<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Someone reacted to your comment</title>
</head>

<body>
    <div>Hey, {{ greeting_name }},</div>
    <br>
    <p>Hope you're doing well!</p>
    <p>😃 Someone from the community has just {{ subject_word }} your comment: "{{ comment }} "!</p>
    <p>🏁 To see who {{ subject_word }} you ... Follow this link:
        <a href="https://www.mixelo.io/story/{{ story_slug }}"><strong>→ My message</strong></a>
    </p>
    <p>We're constantly improving the Mixelo user experience, so come as often as possible and experience real changes!
    </p>
    <p>We wish you a great experience on your personal growth and a pleasant moment with Mixelo Stories.</p>
    <div>Thank you for being a part of the Mixelo community.</div>
    If you enjoyed this email, do us a solid and forward it to a friend. We owe you one.
    <p>Until next time,</p>
    <div>Mixelo Team</div>
    <div>Guillaume, Juan & Yalit</div>
    <br>
    <div style="color: gray;">
        <div>-Mixelo is a small team with big ideas, and we believe email is vital to communicating with our community.
        </div>
        <div>You can choose the kind of notification you'd like to receive from us and or unsubscribe <a
                href="https://www.mixelo.io/profile/">here</a>.</div>
        <p>© 2024 Mixelo | CH-1001 Lausanne, Switzerland</p>
    </div>

</body>

</html>